<p>update sale's info</p>

<form action="/updateSale_update" method="post">
    <input type="hidden" id="saleID" name="saleID" value="{{saleID}}">
    <table>
        <div class="form-group">
            <label for="b_date">Buy Date<input type="date" name="b_date" id="b_date" value="{{b_date}}">Buy Date</label>
        </div>
        <div class="form-group">
            <label for="b_price">Buy Price</label>
            <input type="number" min="0.00" step="any" name="b_price" id="b_price" value="{{b_price}}">
        </div>
        <div class="form-group">
            <label for="b_fees">Buy Fees</label>
            <input type="number" min="0.00" step="any" name="b_fees" id="b_fees" value="{{b_fees}}">
        </div>
        <div class="form-group">
            <label for="b_ship">Buy Ship</label>
            <input type="number" min="0.00" step="any" name="b_ship" id="b_ship" value="{{b_ship}}">
        </div>
        <div class="form-group">
            <label for="s_date">Sell Date<input type="date" name="s_date" id="s_date" value="{{s_date}}">Sell Date</label>
        </div>
        <div class="form-group">
            <label for="s_price">Sell Price</label>
            <input type="number" min="0.00" step="any" name="s_price" id="s_price" value="{{s_price}}">
        </div>
        <div class="form-group">
            <label for="s_fees">Sell Fees</label>
            <input type="number" min="0.00" step="any" name="s_fees" id="s_fees" value="{{s_fees}}">
        </div>
        <div class="form-group">
            <label for="s_ship">Sell Ship</label>
            <input type="number" min="0.00" step="any" name="s_ship" id="s_ship" value="{{s_ship}}">
        </div>
        <button type="submit">Save Changes</button>
    </table>
</form>